<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyserver.mapper.DishMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">--  设置以返回主键
    insert into dish (name, category_id, price, image, description, status, create_time, update_time, create_user,
                      update_user)
    values (#{name}, #{categoryId}, #{price}, #{image}, #{description}, #{status}, #{createTime}, #{updateTime},
            #{createUser}, #{updateUser});
    </insert>

    <update id="update">
        update dish
        <set>
            <if test="name !=null and name !=''">
                name=#{name},
            </if>
            <if test="categoryId !=null">
                category_id =#{categoryId},
            </if>
            <if test="price !=null">
                price=#{price},
            </if>
            <if test="image!=null">
                image=#{image},
            </if>
            <if test="description!=null">
                description=#{description},
            </if>
            <if test="status!=null">
                status=#{status},
            </if>
            <if test="updateTime!=null">
                update_time=#{updateTime},
            </if>
            <if test="updateUser!=null">
                update_user=#{updateUser}
            </if>
        </set>
        where id=#{id}
    </update>

    <delete id="deleteByIds">
        delete from dish where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="countByCategoryId" resultType="java.lang.Long">
        select count(*)
        from dish
        where category_id = #{categoryId};
    </select>

    <!--    动态sql查询-->
    <select id="list" resultType="com.skypojo.vo.DishVO">
        select d.*,c.name categoryName from dish d left join category c on d.category_id = c.id
        <where>
            <if test="name!=null and name !=''">
                d.name like concat('%',#{name},'%')
            </if>
            <if test="categoryId !=null">
                and d.category_id=#{categoryId}
            </if>
            <if test="status !=null">
                and c.status=#{status}
            </if>
        </where>
        order by d.create_time desc
    </select>

    <select id="countEnableDishByIds" resultType="java.lang.Long">
        select count(*) from dish where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
        and status=1
    </select>

    <select id="getById" resultType="com.skypojo.entity.Dish">
        select *
        from dish
        where id = #{id}
    </select>

    <select id="listByCategoryId" resultType="com.skypojo.entity.Dish">
        select *
        from dish
        where category_id = #{categoryId}
          and status = 1
    </select>

    <select id="countByStatus" resultType="java.lang.Integer">
        select count(*) from dish
        <where>
            <if test="status !=null">
                status=#{status}
            </if>
        </where>
    </select>

</mapper>