<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyserver.mapper.OrdersMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into orders (number, status, user_id, address_book_id, order_time, pay_method, pay_status, amount,
                            remark, phone,
                            address,
                            consignee, estimated_delivery_time, delivery_status, pack_amount, tableware_number,
                            tableware_status)
        values (#{number}, #{status}, #{userId}, #{addressBookId}, #{orderTime}, #{payMethod}, #{payStatus}, #{amount},
                #{remark},
                #{phone}, #{address}, #{consignee}, #{estimatedDeliveryTime}, #{deliveryStatus}, #{packAmount},
                #{tablewareNumber}, #{tablewareStatus})
    </insert>

    <update id="update">
        update orders
        <set>
            <if test="number!=null and number !=''">
                number=#{number},
            </if>
            <if test="status !=null">
                status=#{status},
            </if>
            <if test="userId !=null">
                user_id=#{userId},
            </if>
            <if test="addressBookId !=null">
                address_book_id=#{addressBookId},
            </if>
            <if test="orderTime !=null">
                order_time=#{orderTime},
            </if>
            <if test="checkoutTime !=null">
                checkout_time=#{checkoutTime},
            </if>
            <if test="payMethod !=null">
                pay_method=#{payMethod},
            </if>
            <if test="payStatus!=null">
                pay_status=#{payStatus},
            </if>
            <if test="amount!=null">
                amount=#{amount},
            </if>
            <if test="remark !=null and remark !=''">
                remark=#{remark},
            </if>
            <if test="phone !=null and phone !=''">
                phone=#{phone},
            </if>
            <if test="address !=null and address !=''">
                address=#{address},
            </if>
            <if test="userName !=null and userName !=''">
                user_name=#{userName},
            </if>
            <if test="consignee !=null and consignee !=''">
                consignee=#{consignee},
            </if>
            <if test="cancelReason !=null and cancelReason !=''">
                cancel_reason=#{cancelReason},
            </if>
            <if test="rejectionReason !=null and rejectionReason!=''">
                rejection_reason=#{rejectionReason},
            </if>
            <if test="cancelTime !=null">
                cancel_time=#{cancelTime},
            </if>
            <if test="estimatedDeliveryTime !=null">
                estimated_delivery_time=#{estimatedDeliveryTime},
            </if>
            <if test="deliveryStatus !=null">
                delivery_status={deliveryStatus},
            </if>
            <if test="deliveryTime !=null">
                delivery_time=#{deliveryTime},
            </if>
            <if test="packAmount!=null">
                pack_amount=#{packAmount},
            </if>
            <if test="tablewareNumber!=null">
                tableware_number=#{tablewareNumber},
            </if>
            <if test="tablewareStatus!=null">
                tableware_status=#{tablewareStatus}
            </if>
        </set>
        where id =#{id}
    </update>

    <select id="page" resultType="com.skypojo.vo.OrdersVO">
        select * from orders
        <where>
            <if test="number !=null">
                number =#{number}
            </if>
            <if test="phone!=null and phone !=''">
                and phone=#{phone}
            </if>
            <if test="status !=null">
                and status=#{status}
            </if>
            <if test="beginTime !=null and endTime != null">
                and (order_time between #{beginTime} and #{endTime})
            </if>
        </where>
    </select>

    <select id="list" resultType="com.skypojo.entity.Orders">
        select *
        from orders
    </select>

    <select id="getById" resultType="com.skypojo.entity.Orders">
        select *
        from orders
        where id = #{id}
    </select>

    <select id="getByOrderNumber" resultType="com.skypojo.entity.Orders">
        select * from orders where number = #{orderNumber}
    </select>

    <select id="selectTurnoverList" resultType="com.skypojo.dto.TurnoverReportDTO">
        select
        date_format(order_time,'%Y-%m-%d') orderDate,
        sum(amount) orderMoney
        from orders
        <where>
            <if test="completed !=null">
                status=#{completed}
            </if>
            <if test="beginTime !=null and endTime !=null">
                and order_time between #{beginTime} and #{endTime}
            </if>
        </where>
        group by date_format(order_time,'%Y-%m-%d') # 先将时间格式化成天并且是字符串形式，否则不能分组，注意date_format函数
        order by date_format(order_time,'%Y-%m-%d')
    </select>

    <select id="selectOrderList" resultType="com.skypojo.dto.OrdersReportDTO">
        select
            date_format(order_time,'%Y-%m-%d') orderTime,count(*) orderCount
        from
            orders
        <where>
            <if test="beginTime!=null and endTime !=null">
                order_time between #{beginTime} and #{endTime}
            </if>
            <if test="status !=null">
                and status =#{status}
            </if>
        </where>
        group by
            date_format(order_time,'%Y-%m-%d')
        order by
            date_format(order_time,'%Y-%m-%d')
    </select>

    <select id="selectTop10" resultType="com.skypojo.dto.GoodSalesDTO">
        select od.name        name,
               sum(od.number) number
        from orders,
             order_detail od
        where orders.id = od.order_id
          and orders.status = 5
          and order_time &lt; #{endTime}
          and order_time &gt; #{beginTime}
        group by od.name
        order by number desc
        limit 0,10
    </select>

    <select id="selectTurnover" resultType="java.lang.Double">
        select sum(amount) from orders where status = 5 and order_time &lt; #{endTime} and order_time &gt; #{beginTime}
    </select>

    <select id="selectOrderCount" resultType="java.lang.Integer">
        select count(*) from orders
        <where>
            <if test="begin!=null and end!=null">
                order_time &lt; #{end} and order_time &gt; #{begin}
            </if>
            <if test="status !=null">
                and status=#{status}
            </if>
        </where>
    </select>
    <select id="countByStatus" resultType="java.lang.Integer">
        select count(*) from orders
        <where>
            <if test="status !=null">
                status=#{status}
            </if>
        </where>
    </select>

</mapper>